{% extends 'index.html' %}
{% block content %}
    <form action="{% url "auth:register" %}" method="post">
    {% csrf_token %}
        <h3>Register</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email" id="username" name="username" >

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" >

        {% if messages %}
            <ul style="margin: auto" >
        {% for message in messages %}
                <li style="color: red; font-size: small; list-style: none; text-align: end">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}

        <button>Register</button>

            <div style="margin-top: 10px" >
                <a href="{% url  'auth:login' %}">
                    Already have an account?
                </a>
            </div>
    </form>

{% endblock %}